NEXT_PUBLIC_API_URL=https://localhost:7240
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=https://localhost:3001/api/auth/callback/facebook
ADMIN_SESSION_SECRET=
FIRST_PARTY_JWT_PRIVATE_KEY=
FIRST_PARTY_JWT_ISSUER=https://localhost:3001
FIRST_PARTY_JWT_AUDIENCE=motorcycle-api
